{% trans_default_domain 'UmanitBlockCollectionBundle' %}

{% block ckeditor_widget %}
  {%- set ckeditor_destroy -%}
    {{ ckeditor_destroy(id) }}
  {%- endset -%}
  {%- set ckeditor_instanciate -%}
    {{ ckeditor_widget(id, config, {
      auto_inline: auto_inline,
      inline: inline,
      input_sync: input_sync,
      filebrowsers: filebrowsers
    }) }}
  {%- endset -%}

  <textarea {{ block('widget_attributes') }}
      data-ckeditor-destroy="{{ ckeditor_destroy|e('html_attr') }}"
      data-ckeditor-instanciate="{{ ckeditor_instanciate|e('html_attr') }}">{{ value }}</textarea>

  {% if enable and not async %}
    {{ block('_ckeditor_javascript') }}
  {% endif %}
{% endblock ckeditor_widget %}

{% block artgris_media_widget %}
  {% apply spaceless %}
    {% with {
      form: form,
      collection: false,
      id: form.vars.id,
      conf: conf,
      tree: tree,
      } only %}
      {{ block('render_media') }}
    {% endwith %}
  {% endapply %}
{% endblock artgris_media_widget %}

{% block artgris_media_collection_widget %}
  {% apply spaceless %}
    {% if prototype is defined %}
      {% set data_prototype %}
        {% with {
          form: prototype,
          collection: true,
          id: form.vars.id,
          conf: conf,
          tree: tree,
          } only %}
          {{ block('render_media') }}
        {% endwith %}
      {% endset %}
    {% endif %}

    <div {{ stimulus_controller('umanit/ux-block-collection-bundle/collection', {
      allowAdd: allow_add ? 1 : 0,
      allowDelete: allow_delete ? 1 : 0,
      min: data_min ? data_min : 0,
      max: data_max ? data_max : 100,
      initialNbElements: data_init_with_n_elements ? data_init_with_n_elements : 1,
      prototype: prototype ? data_prototype.__toString : '',
    }) }}>
      <div class="artgris-media-list artgris-media-collection {{ form.vars.id }}-collection"
           id="{{ form.vars.id }}" data-umanit--ux-block-collection-bundle--collection-target="list"
          {{ stimulus_controller('umanit/ux-block-bundle/sortable') }}>
        {% for media in form %}
          {% with {
            form: media,
            collection: true,
            id: form.vars.id,
            conf: conf,
            tree: tree,
            } only %}
            {{ block('render_media') }}
          {% endwith %}
        {% endfor %}
      </div>

      <div class="ui grid">
        <div class="column">
          <button type="button" class="small ui right icon button"
                  data-action="click->umanit--ux-block-collection-bundle--collection#add"
                  data-umanit--ux-block-collection-bundle--collection-target="addBtn">
            <i class="right plus circle icon"></i> {{ 'collection.add'|trans }}
          </button>
        </div>
      </div>
    </div>
  {% endapply %}
{% endblock artgris_media_collection_widget %}

{% block render_media %}
  {% apply spaceless %}
    <div class="artgris-media{% if form.vars.errors|length > 0 %} error{% endif %}" {{ stimulus_controller({
      'umanit/ux-block-collection-bundle/media': {
        filePath: form.vars.value,
        uploadUrl: path('file_manager_upload', { conf:conf }),
      },
      'umanit/ux-block-collection-bundle/crop': {
        ratio: crop_options.ratio|default,
        url: path('admin_ajax_crop'),
        conf: conf,
      },
    }) }} data-action="umanit--ux-block-collection-bundle--crop:crop->umanit--ux-block-collection-bundle--media#updateFromCrop"
         data-umanit--ux-block-collection-bundle--collection-target="item">
      <div class="ui grid middle aligned">
        <div class="column row">
          {% if collection %}
            <div class="two wide column">
              <button type="button" class="mini ui icon button js-panel-sortable-handler">
                <i class="sort icon"></i>
              </button>

              {# <div class="mini ui compact vertical buttons"> #}
              {# <button type="button" class="ui icon button" #}
              {# data-action="click->umanit--ux-block-collection-bundle--collection#up"> #}
              {# <i class="chevron up icon"></i> #}
              {# </button> #}
              {# <button type="button" class="ui icon button" #}
              {# data-action="click->umanit--ux-block-collection-bundle--collection#down"> #}
              {# <i class="chevron down icon"></i> #}
              {# </button> #}
              {# </div> #}
            </div>
          {% endif %}

          {% set base_path = form.vars.allow_crop ? get_web_path(conf) : 1 %}
          {% block file_preview %}
            {% set cropable_markup %}
              {% apply spaceless %}
                <a data-action="click->umanit--ux-block-collection-bundle--crop#do"
                   href="#" class="ui small image js-crop crop-hover js-artgris-crop-modal-trigger"
                   data-target="#crop-modal-{{ id }}"
                >
                  <span class="ui left corner label">
                    <i class="crop icon"></i>
                  </span>
                  __file_preview__
                </a>
              {% endapply %}
            {% endset %}

            <div
                data-umanit--ux-block-collection-bundle--media-target="preview"
                class="two wide column js-artgris-img-preview" id="preview-{{ form.vars.id }}"
                data-id="{{ id }}" data-base-path="{{ base_path }}"
                data-cropable-markup="{{ cropable_markup|e('html_attr') }}"
                data-icon-url="{{ path('admin_ajax_icon') }}"
            >
              {% set preview = fileIcon(form.vars.data).html %}
              {% if form.vars.allow_crop and '<img' in preview and '.svg' not in preview and form.vars.data[:base_path|length] == base_path %}
                <a
                    href="#" class="ui small image js-crop crop-hover js-artgris-crop-modal-trigger"
                    data-target="#crop-modal-{{ id }}"
                >
                  <span class="artgris-media-crop-wrapper">
                    <i class="crop icon"></i>
                  </span>
                  {{ preview|raw }}
                </a>
              {% else %}
                {{ preview|raw }}
              {% endif %}
            </div>
          {% endblock %}

          {# label + input #}
          <div class="{% if collection %}six{% else %}eight{% endif %} wide column">
            {% block fields %}
              <input
                  type="text" class="form-control artgris-media-path"
                  id="{{ form.vars.id }}" name="{{ form.vars.full_name }}"
                  {% if form.vars.required %}required="required"{% endif %} value="{{ form.vars.value }}"
                  placeholder="{{ 'artgris.media.path.placeholder'|trans({}, 'messages') }}"
                  {{ form.vars.readonly|default ? 'readonly="readonly"' }}
              >
            {% endblock %}
          </div>

          <div class="{% if collection %}four{% else %}six{% endif %} wide column">
            <div class="btn-group" role="group">
              {% block media_buttons_collection %}
                {% include '@UmanitBlockCollection/sylius/artgris/_btn_manager.html.twig' with {
                  id: id,
                  form: form,
                  conf: conf,
                  collection: collection,
                } only %}
              {% endblock %}
            </div>
          </div>

          {% if collection %}
            <div class="one wide column">
              <button type="button" class="small ui red icon button"
                      data-item=""
                      data-action="click->umanit--ux-block-collection-bundle--collection#remove">
                <i class="times icon"></i>
              </button>
            </div>
          {% endif %}
        </div>

        {% if collection and form.vars.errors|length > 0 %}
          <div class="column row">
            <div class="column red">
              <strong>{{ form_errors(form) }}</strong>
            </div>
          </div>
        {% endif %}
      </div>
      {% include '@UmanitBlockCollection/sylius/artgris/_modal.html.twig' %}
      {% include '@UmanitBlockCollection/sylius/artgris/_crop_modal.html.twig' with {
        crop_options: form.vars.crop_options
      } %}
    </div>
  {% endapply %}
{% endblock render_media %}
