{# @var \Umanit\BlockCollectionBundle\Entity\Block\Triptych block #}
<h2>{{ block.title }}</h2>

{% if not imagePositionLeft %}
  <img src="{{ block.imagePath }}" alt="{{ block.imageAlt }}" />
{% endif %}

{{ block.text|raw }}

{% if imagePositionLeft %}
  <img src="{{ block.imagePath }}" alt="{{ block.imageAlt }}" />
{% endif %}